body, html {
  background: #f5f5f5;
  padding: 0px;
  overflow: hidden;
  width: 300px;
}

body {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Ubuntu', sans-serif;
}



.title{
    color: #505050;
    padding-left:10px;
}

.product_list{
    padding-top: 10px;
    max-height: 400px;
    overflow-y: scroll;
    padding-bottom: 0px;
    border-radius: 0px;
    margin-bottom: 0px;
}

.product_sublist {
    overflow-y: hidden;
    height: 50px;
    margin-bottom:5px;
}

.product-button {
    margin: 0px;
    padding: 0px;
}

.product_list img {
    background: transparent;
    background-color: transparent;
}
.product_list .details {
    border: none;
    padding: 5px;
    background: transparent;
    background-color: transparent;
    line-height:1;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}
.product_list .details .header {
    margin-bottom:2px;
    color: #7d7d7d;
    font-size: 16px;
}
.product_list div {
    border-radius: 0px;
    padding: 0px;
    border: none;
    background: transparent;
    background-color: transparent;
}

.ecofriendly.img-thumbnail {
    background: #69B096;
}
.charitable.img-thumbnail {
    background: #5E99BD;
}
.reused.img-thumbnail {
    background: #F4A7BD;
}

.searchbar {
    padding-bottom: 10px;
    padding-top: 0px;
 }
.searchbar input {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    margin: 0 auto;
    border: auto;
}